body{
    background-image: url('http://www.eldiariodelcentrodelpais.com/wp-content/uploads/2017/08/Basquet.jpg')

}
.Titulo{
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: cornflowerblue;
    color: white;
    margin-right: 2em;
    margin-left: 2em;
    font-family: "Liberation Serif";
    background-color: cornflowerblue;
}


.tabla {
border: 1px solid;
text-align: left;
padding: 8px;
background-color: lightblue;
    width: 30%;
    margin-left: 5.25em;

}

.container{
    background-color: #fff3;;
}




#Indice  ul li{

    display: inline;
    margin: 10px;
    font-size: 20px;

}

h1 {
    margin-left: 1.25em;
}

p{
    font-size: 20px;
}


h2{
    margin-left:1.25em ;
}

.Imagen{
    position: relative;
    display: inline-block;
    font-size: 13px;
    text-align: center;
margin-left: 6.00em;

}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    font-family: "Liberation Serif";


}

.cuerpo_estilo{
    width: 100%;
}

img{
    margin-left: 1.00em;

}

.conferencia{
    margin-left:9.25em;
}

.conferencia_tabla{
    border: 1px solid;
    text-align: left;
    background-color: lightblue;
    width: 20%;
    margin-left: 5.25em;

}
iframe{
    margin-left: 4.25em;


}

.texto{
    margin-left: 1.24em;
}

.texto-encima{
    margin-left:1.25em;
    font-size: 15px;
}

.hoy{
    margin-left: 2em;
    margin-right: 2em;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
    border-color: cornflowerblue;
    color: white;
    font-family: "Liberation Serif";
background-color: cornflowerblue;
}


.btn-default{
    margin-left: 3.00em;

}

.estadisticas{
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: cornflowerblue;
    color: white;
    margin-right: 1em;
    margin-left: 1.25em;
    font-family: "Liberation Serif";
    background-color: cornflowerblue;
}

.clasificacion{
    width: 10%;
}




.Sixers{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.embiid {
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}


.bucks{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.giannis{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}



.hornets{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.Blake{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.pistons{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.kawhi{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.raptors{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}
.victor{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.pacers{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.kyrie{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.boston{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.wall {
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}
.wizards{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.josh{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.kemba{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.miami{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;
}

.trae{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;;
}

.atlanta{
    background-size: 1200px;
    color: white;
    margin-left: 1.25em;;

}

.video{
    margin-left: 3.25em;
    color: white;
}
td, th {
    padding: 10px;
    margin-left: 5.25px
}

.formulario{
    margin-left: 3.25em;
    color: silver;
}

